<div class="container-image-slider" *ngIf="moreInfo">
    <ion-slides (ionSlideWillChange)="ionSlideDidChange()">
        <ion-slide *ngFor="let image of fetchedImages" (click)="showGallery(image)">
            <image-lazy [type]="type" [imgSrc]="image.url"></image-lazy>
            <!-- <ion-img src="{{image.url}}"></ion-img> -->
        </ion-slide>
    </ion-slides>
    <div *ngIf="defaultOpts.PRICE_SHOWN" class="price-tag">
        <sup>đ </sup>{{moreInfo.renting.renting_fee}}
        <span *ngIf="moreInfo.renting.discount && moreInfo.renting.discount != 0" class="discount">
        <ion-icon name="ios-flash"></ion-icon>
         -{{moreInfo.renting.discount}}</span>
    </div>
    <div *ngIf="defaultOpts.PAGENUM_SHOWN" class="page-tag">
        {{currentImageShown}}/{{numImages}}
    </div>
</div>
