<ion-header>
    <ion-navbar>
        <ion-title>Chung cư</ion-title>
    </ion-navbar>
</ion-header>
<ion-content class="content-background">
    <div class="part-header">
        <div class="title">
            <span>Danh sách chung cư</span>
        </div>
        <div class="line"></div>
    </div>
    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    <error-load *ngIf="showNoInternet || showErrLoad" [errInfo]="currentErrType?.info"></error-load>
    <loading *ngIf="loading && !showNoInternet && !showErrLoad"></loading>
    <div *ngIf="!loading && !showNoInternet && !showErrLoad">
        <div class="vertical-list">
            <div class="container-card" padding-horizontal padding-bottom *ngFor="let item of allDataList">
                <image-card-apartment *ngIf="item?.data" [cardData]="item?.data"></image-card-apartment>
            </div>
        </div>
        <ion-infinite-scroll (ionInfinite)="doLoadMore($event)">
            <ion-infinite-scroll-content></ion-infinite-scroll-content>
        </ion-infinite-scroll>
    </div>
</ion-content>
