  search-page {
    .item-adjust button {
      color: $housy-color-info;
    }
    .title {
      font-size: $housy-font-size-title;
      font-weight: $housy-font-weight-bold;
    }
    .expand-text {
      line-height: $housy-line-height-wide;
    }
  }
