<ion-header>
    <ion-toolbar color="primary">
        <ion-searchbar></ion-searchbar>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-item-group>
        <button ion-item detail-none (click)="currentPosition()">
            <ion-icon name="locate" item-left></ion-icon>
            Tìm tại vị trí hiện tại
        </button>
    </ion-item-group>
    <ion-item-group>
        <ion-item-divider color="light">
            <ion-icon name="ios-keypad" item-left></ion-icon>
            <ion-row no-padding no-margin>
                <ion-col class="title expand-text" no-padding no-margin>
                    <span>Tìm theo quận/huyện</span>
                    <span style="height: 100%"></span>
                </ion-col>
                <ion-col text-right no-padding no-margin>
                    <button class="expand-button housy-link" ion-button icon-right clear no-padding no-margin padding-horizontal (click)="toggleDistrict()">
                        <ion-icon [name]="iconName"></ion-icon>
                    </button>
                </ion-col>
            </ion-row>
        </ion-item-divider>
        <ion-row wrap>
            <ion-col width-33 text-center class="item-adjust" *ngFor="let item of popularSearchs" no-padding no-margin>
                <button clear full ion-button no-padding no-margin text-capitalize (click)="goToSearch(item)">
                    {{item.name}}
                </button>
            </ion-col>
        </ion-row>
    </ion-item-group>
    <ion-item-group>
        <ion-item-divider color="light">
            <ion-icon name="pin" item-left></ion-icon>
            <ion-label class="title">Địa điểm đã tìm</ion-label>
        </ion-item-divider>
        <button *ngFor="let item of listHistories" ion-item detail-none (click)="goToSearch(item)">
            {{item.name}}
        </button>
    </ion-item-group>
</ion-content>
