.new-listing-step {
  .fixed-content,
  .scroll-content {
    margin-top: 0 !important;
  }
  .container-label {
    font-size: $housy-font-size-title;
    background: $item-ios-divider-background;
  }
}
