  search-map {
    .container-map {
      height: 70%;
    }
    .container-horizontal-card {
      .similar-houses {
        padding-bottom: 0;
        .title {
          margin-bottom: 0;
        }
      }
    }
  }
