<div padding *ngIf="utilities && showData.utilities">
  <div class="title">Tiện ích</div>
  <ion-row wrap>
    <!-- <ion-col text-center col-4 *ngFor="let item of utilities orderBy : ['-state']" [ngClass]="exists(item.id) ? 'utilities-able':'utilities-disable'">
            <img class="housy-icon" src="{{item.src}}">
            <div> {{item.name_utilities}}</div>
        </ion-col> -->
    <ion-col col-4 class="utilities " [ngClass]="util.state >0 ? 'utilities-able':'utilities-disable'" *ngFor="let util of utilities | orderBy : ['-state']" text-center>
      <img class="housy-icon" src="{{util.src}}">
      <div>{{util.name_utilities}}</div>
    </ion-col>
  </ion-row>
</div>
