register-page {
  .title {
    font-size: $housy-register-page-title-font-size;
    color: $housy-register-page-title-color;
  }
  .sub-title {
    font-size: $housy-register-page-sub-title-font-size;
    font-weight: $housy-font-weight-bold;
    letter-spacing: $housy-letter-spacing;
  }
  .login-page .container .container-divider {
    margin: 0 auto;
    width: 30%;
  }
  .login-page .container .container-divider:before,
  .login-page .container .container-divider:after {
    width: 40%;
  }
  .login-page .container-button-more {
    text-align: right;
  }
  a {
    text-decoration: none;
    font-weight: $housy-font-weight-bold;
  }
}
