<ion-content class="content-background">
    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    <error-load *ngIf="showNoInternet || showErrLoad" [errInfo]="currentErrType?.info"></error-load>
    <loading *ngIf="loading && !showNoInternet && !showErrLoad"></loading>
    <div *ngIf="!loading && !showNoInternet && !showErrLoad">
        <div class="count-total" padding-left padding-vertical>Tổng: {{totalItem || 0 }} căn nhà</div>
        <div class="container-card" *ngFor="let item of allDataList">
            <image-card-owner *ngIf="item?.data" [cardData]="item?.data"></image-card-owner>
        </div>
        <ion-infinite-scroll (ionInfinite)="doLoadMore($event)">
            <ion-infinite-scroll-content></ion-infinite-scroll-content>
        </ion-infinite-scroll>
    </div>
    <no-internet *ngIf="!showNoInternet && !showErrLoad"></no-internet>
    <div class="housy-space"></div>
</ion-content>
<new-listing-button></new-listing-button>
