<div padding class="similar-houses" *ngIf="listHouses">
    <div class="title">{{title}}</div>
    <ion-scroll #scroll class="horizontal-scroll small-card" scrollX="true">
        <div class="container-card" [ngClass]="{'highlight-item': highlightId === item?.id}" *ngFor="let item of listHouses">
            <image-card-small *ngIf="item?.data" [cardData]="item?.data"></image-card-small>
        </div>
        <div class="container-card" *ngIf="defaultOpts.SHOW_MORE">
            <show-more-card-small></show-more-card-small>
        </div>
    </ion-scroll>
</div>
